.tag {
  padding: 6px 14px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
}

.amarelo {
 background-color: yellow;
}

.verde {
 background-color: green;

}

.ciano {

}

.vermelho {

}

.azul-escuro {

}

.roxo {

}

.azul-claro {

}

.cinza {

}