.tag {
  padding: 6px 14px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
}

.amarelo {
 background-color: #ffc107;
}

.verde {
 background-color: #28a745;

}

.ciano {
 background-color: cyan;
}

.vermelho {
 background-color: #dc3545;
}

.azul-escuro {
 background-color: #1f4568;
}

.roxo {
 background-color: #8423C5;
}

.azul-claro {
 background-color: #4a90e2;
}

.cinza {
 background-color: #6c757d;
}